{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Laboratorios</h2>
    
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>País</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for laboratorio in laboratorios %}
                <tr>
                    <td>{{ laboratorio.id }}</td>
                    <td>{{ laboratorio.nombre }}</td>
                    <td>{{ laboratorio.ciudad }}</td>
                    <td>{{ laboratorio.pais }}</td>
                    <td>
                        <a href="{% url 'laboratorio_update' laboratorio.id %}" class="btn btn-warning btn-sm">Actualizar</a>
                        <a href="{% url 'laboratorio_delete' laboratorio.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar este laboratorio?');">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay laboratorios registrados.</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-end mt-2">
        <a href="{% url 'laboratorio_create' %}" class="btn btn-primary btn-md">Nuevo Lab</a>
    </div>

</div>

{% endblock %}
