{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Eliminar Laboratorio</h2>
    <p class="text-center mb-4">¿Estás seguro de que deseas eliminar el laboratorio <strong>"{{ laboratorio.nombre }}"</strong>?</p>
    
    <form method="post" class="text-center">
        {% csrf_token %}
        
        <div class="mb-3">
            <button type="submit" class="btn btn-danger btn-lg">Sí, eliminar</button>
        </div>

        <div class="mb-3">
            <a href="{% url 'laboratorio_list' %}" class="btn btn-secondary btn-lg">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
