{% extends 'base.html' %}

{% block content %}

<div class="container mt-1">
    <h1 class="text-center mb-4">Bienvenido a la Plataforma de Gestión de Laboratorios</h1>
    
    <div class="alert alert-info">
        <h4>Bienvenido</h4>
        <p>En esta aplicación podrás realizar las siguientes acciones:</p>
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Crear:</strong> Podrás crear nuevos registros de Laboratorio.
        </li>
        <li class="list-group-item">
            <strong>Actualizar:</strong> Podrás editar los atributos de Nombre, Ciudad y País de los Laboratorios registrados.
        </li>
        <li class="list-group-item">
            <strong>Eliminar:</strong> Podrás eliminar un Laboratorio registrado.
        </li>
    </ul>
</div>

{% endblock %}