{% extends 'base.html' %}

{% block content %}

<div class="container mt-1">
    <h1 class="text-center mb-4">Bienvenido a la Plataforma de Gestión de Laboratorios</h1>
    
    <div class="alert alert-info">
        <h4>Bienvenido</h4>
        <p>En esta aplicación podrás realizar las siguientes acciones:</p>
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Crear:</strong> Podrás crear nuevos registros de Laboratorio en Nuevo Lab.
        </li>
        <li class="list-group-item">    
            <strong>Actualizar:</strong> Desde la sección Info Labs podrás editar los atributos de Nombre, Ciudad y País de los Laboratorios registrados.
        </li>
        <li class="list-group-item">
            <strong>Eliminar:</strong> Desde la sección Info Labs podrás eliminar un Laboratorio registrado.
        </li>
        <li class="list-group-item">
            <strong>Acceder al Admin:</strong> Podrás acceder a la consola de administración de Django.
        </li>
    </ul>

    <div class="text-center mt-4">
        <a href="{% url 'laboratorio_list' %}" class="btn btn-info btn-lg ml-3">Info Labs</a>
        <a href="{% url 'laboratorio_create' %}" class="btn btn-primary btn-lg ml-3">Nuevo Lab</a>
        <a href="/admin/" class="btn btn-danger btn-lg ml-3">Administración de Django</a>
    </div>
</div>

{% endblock %}